<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body><h1><%- include('commonfile/header');%></h1>
    <h1>Your name is <%= data1.name %></h1>
    <p>Email: <%= data1.email %></p>
    <p>Age: <%= data1.age %></p>
    <ul>My skills are:
        <% data1.skills.forEach((item) => { %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</body>
</html>
`